$breakpoints: (
  "phone":          400px,
  "phone-wide":     480px,
  "phablet":        560px,
  "tablet-small":   640px,
  "almost-tablet":  744px,
  "tablet":         768px,
  "tablet-big":     950px,
  "tablet-wide":    1024px,
  "desktop-small":  1128px,
  "desktop":        1248px,
  "desktop-wide":   1440px,
  "desktop-hd":     1920px
);

$theme-colors: (
  "artsupp":        #01D8C0,
  "artsupp-dark":   #009B92,
  "primary":        #010101,
  "primary-dark":   #4a4a4a,
  "primary-light":  #2E2E3B,
  "secondary":      #c4c4c4,
  "secondary-dark": #979797,
  "bg":             #ffffff,
  "light-bg":       #f7f7f7,
  "violet-bg":      #AFBAED,
  "pink-bg":        #FF83B1,
  "pink-light-bg":  #ED7E7E,
  "orange-bg":      #FF6436,
  "green-bg":       #C3F0C7,
  "yellow-bg":      #F59B23,
  "violet-dark-bg": #925FAA,
  "twitter":        #55acee,
  "facebook":       #3b5999,
  "whatsapp":       #25D366,
  "instagram":      #e4405f,
  "warning":        #FF2318,
  "google":         #DD4B39,
  "primary-05":     rgba(1, 1, 1, 0.05),
  "primary-20":     rgba(1, 1, 1, 0.2),
  "primary-35":     rgba(1, 1, 1, 0.35),
  "bg-80":          rgba(255, 255, 255, 0.8),
);

$primary : #27357e;
$p-light : #5a5eae;
$p-dark : #001151;

// $secondary : #fb8b2e;

$black : #141414;
$grey : #9c9c9c;
$white : #f8fafc;

$green : #23a036;
$orange : #ff9e2d;
$yellow : #ffcb2d;
$red : #f24545;


